<div>
    <select onchange={{this.handleClassSelection}}>
        <option value="Mathematics">Mathematics</option>
        <option value="Computer Science">Computer Science</option>
        <option value="Literature">Literature</option>
    </select>
</div>

<div>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <canvas id="classChart" width="400" height="200"></canvas>
</div>