<aside class="sidebar">
  <div class="sidebar-menu">
    <ul class="menu-list">
        <li>
            <LinkTo @route="analytics"> Analytics </LinkTo>
        </li>
        <li>
            <LinkTo @route="management">Students Management</LinkTo>
        </li>
        <li>
            <LinkTo @route="grades">Grade Management</LinkTo>
        </li>
    </ul>
  </div>
</aside>
