{{page-title "Analytics"}}
<h3>Student Average Per Quarter</h3>
<StudentGraph @data={{this.model}} />
<br>
<br>
<h3>Class Average Per Quarter</h3>
<ClassGraph />
<br>
<br>
<h3>Class Average Per Specific Quarter</h3>
<QuarterGraph />